
@model Product

<div class="baslik-center">
    <h2 class="title">Urun Ekleme</h2>
</div>
<div class="divBackground">

    <form asp-controller="Product" asp-action="AddProductWithDetail" method="post">
        <div class="form-flex">
            <div class="input"> 
                <label> ProductName</label>
                <div class="div-input"> 
                    <input class="form-input" type="text" asp-for="ProductName" dynamicInput />
                    <i class="fa-solid fa-user"></i>
                </div>
                <span asp-validation-for="ProductName" class="uyarı"></span>
            </div>
            <div class="input">
                <label> Price</label>
                <div class="div-input">
                    <input class="form-input" type="text" asp-for="Price" dynamicInput />
                    <i class="fa-solid fa-user"></i>
                </div>
                <span asp-validation-for="Price" class="uyarı"></span>
            </div>
        </div>

        <div class="input">
            <label>Description</label>
            <div class="div-input">
                <textarea style="background: var(--anaRenk);" class="form-input" asp-for="Description" dynamicInput></textarea>
                <i class="fa-solid fa-user"></i>
            </div>
            <span asp-validation-for="Price" class="uyarı"></span>
        </div>

        <div class="checkCont" >
            <div class="checkCont2">
                <div class="checkBoxTitle">
                    <h4>Categoriler</h4>
                </div>
                @foreach (var category in ViewBag.Categories as List<Category>)
                {
                    <label class="containerCheck">
                        <input type="checkbox" name="categoryIds" value="@category.CategoryId" />
                        <div class="checkmark"></div>
                        <p>@category.CategoryName</p>
                    </label>

                }
            </div>

            <div class="checkCont2">
                <div class="checkBoxTitle">
                    <h4>Renkler</h4>
                </div>
                @foreach (var color in ViewBag.Colors as List<Colors>)
                {
                    <label class="containerCheck">
                        <input type="checkbox" name="colorIds" value="@color.ColorId" />
                        <div class="checkmark"></div>
                        <p>@color.ColorName</p>
                    </label>

                }
            </div>

            <div class="checkCont2">
                <div class="checkBoxTitle">
                    <h4>Bedenler</h4>
                </div>
                @foreach (var size in ViewBag.Sizes as List<Sizes>)
                {
                    <label class="containerCheck">
                        <input type="checkbox" name="sizeIds" value="@size.SizeId" />
                        <div class="checkmark"></div>
                        <p>@size.SizeName</p>
                    </label>

                }
            </div>
        </div>
        <div class="checkBoxTitle">
            <h4 style="display:block">Fotograf Ekleme</h4>
        </div>
        <div class="center">
            <div class="file-upload-form">
                <label  class="file-upload-label">
                    <div class="file-upload-design">
                        <svg viewBox="0 0 640 512" height="1em">
                            <path d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"></path>
                        </svg>
                        <p>Drag and Drop</p>
                        <p>or</p>
                        <span class="browse-button">Browse file</span>
                    </div>
                    <input name="photoUrls" type="file" />
                </label>
            </div>


        </div>
     
     

        <div class="form-button-div">
            <button type="submit" class="form-button">Kaydet <i class="fa-regular fa-floppy-disk"></i></button>
        </div>
    </form>

    


</div>




















@*
<form asp-action="Create" method="post">
    <div class="form-group">
        <label ></label>
        <input  class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <!-- Kategoriler için checkbox listesi -->
  @*   @foreach (var category in ViewBag.Categories as List<Category>)
    {
        <input type="checkbox" name="categoryIds" value="@category" /> @category

        <br />
    }

    <!-- Renkler için checkbox listesi -->
    @foreach (var color in ViewBag.Colors as List<Colors>)
    {
        <input type="checkbox" name="colorIds" value="@color" /> @color

        <br />
    }

    <!-- Bedenler için checkbox listesi -->
    @foreach (var size in ViewBag.Sizes as List<Sizes>)
    {
        <input type="checkbox" name="sizeIds" value="@size.SizeId" /> @size.SizeName

        <br />
    }

    <!-- Fotoğraf URL'leri için input alanları -->
    <div class="form-group">
        <label>Fotoğraf URL</label>
        <input type="text" name="photoUrls" class="form-control" placeholder="Fotoğraf URL" />
        <input type="text" name="photoUrls" class="form-control" placeholder="Fotoğraf URL" />
        <input type="text" name="photoUrls" class="form-control" placeholder="Fotoğraf URL" />
    </div>

    <button type="submit" class="btn btn-primary">Ürün Ekle</button>

     *@